html,
body {
	margin: 0;
	padding: 0;
}

header {
	background: gray;
	margin: auto;
}

#canvas {
	display: block;
	margin: auto;
}

#info {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
}

#modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-size: 500%;
}